@import "fonts.css";

body{
    margin: 10px 0;
}

.main {
    width: 95%;
    margin: auto;
}

.col-5{
    width: 19.5%; 
}

.inline {
    display: inline;
}

.glyphicon-asterisk{
    color: red;
    font-size: 10px;
}

.panel-title {
    font-weight: bold;
}