@import "fonts.css";

body{
    margin: 30px 0;
}

.main {
    width: 80%;
    margin: auto;
}
.prayer-wait, .prayer-wait-label{
    width: 19.68%; 
}
.prayer-wait{
    display: inline;
}

.glyphicon-asterisk{
    color: red;
    font-size: 10px;
}