@import "fonts.css";

body{
    padding: 20px;
}

.col-5{
    width: 19.5%; 
}

.inline {
    display: inline;
}

.glyphicon-asterisk{
    color: red;
    font-size: 10px;
}

.panel-title {
    font-weight: bold;
}

.panel-default .panel-heading {
    background-color: #e2e2e2;
    padding: 15px;
}

.panel-default {
    border-color: #486e3b;
}