body {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}

.main, .iqama, .adhan{
    height:100vh;
}

.top-content{
    height:45%;
}

.prayer-content{
    height:35%;
}

.header{
    font-size: 450%;
    color: yellowgreen;
}

.chourouk, .joumouaa, .aid{
    padding-top: 40px;
    font-size: 500%;
}

.chourouk-id, .joumouaa-id{
    color: yellowgreen;
    font-size: 150%;
}
.aid-id {
    color: red;
}

.time{
    font-size: 1200%;
}

.gregorianDate, .hijriDate{
    font-size: 450%
}

.prayer-text {
    width: 100%;
    font-size: 450%;
} 

.prayer-text .text, 
.prayer-time .prayer, 
.prayer-wait .wait {
    width: 20%;
    float: left;
}

.prayer-time {
    height: 150px;
    width: 100%;
    line-height: 150px;
    border-bottom: 1px #fff solid;
    border-top: 1px #fff solid;
}

.prayer-time .prayer{
    color: yellowgreen;
    font-size: 900%;
}

.prayer-wait .wait{
    font-size: 300%;
    text-align: center;
}

.prayer-hilighted {
    color: #f0ad4e  !important;
}

.flash{
    visibility: hidden;
}

.iqama{
    background-color: gray;
}

.iqama .top, .iqama .bottom{
    font-size: 700%;
    height: 15%;
    color: #000;
}

.iqama .image{
    background-image: url(/img/phone.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    height: 70%;
}

.adhan {
    background-image: url(/img/douaa-after-athan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.site{
    font-size: 150%;
}
.site>span{
    color: #1b6d85;
}

.assosciation{
    font-size: 200%;
}

.footer{
    height: 100px;
}

.app-qr-code{
    height: 90px; 
    width: 90px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.version-parent{
    position: relative;
    height: inherit;
}

.version{
    font-size: 20px;
    color: #adadad;
    text-align: right;
    padding-right: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}
