.douaa-after-prayer{
    padding: 10px;
    font-family: 'Amiri';
}

.title{
    font-size: 700%;   
    color: yellowgreen;
    margin-bottom: 50px
}

.douaa-slider{
    font-size: 600%;
}

.ar{
    text-align: right;
}

.fr{
    text-align: left;
    font-family: 'Arial';
    margin-top: 80px;
}