.douaa-after-prayer{
    font-family: 'Amiri';
}

.douaa-after-prayer .title{
    font-size: 800%;   
    color: yellowgreen;
    padding-top: 10px;
}

.douaa-after-prayer .ar{
    text-align: right;
}

.douaa-after-prayer .fr{
    text-align: left;
    font-family: 'Arial';
    margin-top: 80px;
}

.douaa-after-prayer #slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

.douaa-after-prayer #slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.douaa-after-prayer #slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding-top: 50px;
  text-align: center;
}
