.douaa-after-prayer{
    font-family: 'Amiri';
}

.douaa-after-prayer .title{
    font-size: 800%;   
    color: yellowgreen;
}

.douaa-after-prayer .ar{
    text-align: right;
    line-height: 180%;
}

.douaa-after-prayer .fr{
    text-align: left;
    font-family: 'Arial';
}

.douaa-after-prayer #slider {
  position: relative;
  overflow: hidden;
  margin: 5px auto 0 auto;
  border-radius: 4px;
}

.douaa-after-prayer #slider ul {
  position: relative;
  margin: auto;
  padding: 0;
  list-style: none;
}

.douaa-after-prayer #slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: auto;
  padding-top: 20px;
}
