body {
    background-color: #000;
    color: #fff;
    position: relative;
}
.main{
    padding: 20px;
}

.iqama{
    background-color: gray;
    height:100vh;
}

.iqama .top, .iqama .bottom{
    font-size: 700%;
    height: 15%;
    color: #000;
    font-weight: bold;
}

.iqama .image{
    background-image: url(/img/phone.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    height: 70%;
}

.header{
    font-size: 300%;
    color: yellowgreen;
}

#time{
    font-size: 1200%
}

#date{
    font-size: 400%
}

.prayer-text>div{
    font-size: 200%;
    text-align: center;
    width: 20%;
    float: left;
}

.prayer-text{
    margin-top: 5%;
    font-size: 300%;
}

.prayer-time {
    display: table;
    height: 150px;
    width: 100%;
    border-bottom: 1px #fff solid;
    border-top: 1px #fff solid;
}

.prayer{
    font-size: 800%;
    text-align: center;
    width: 20%;
    display: table-cell;
    vertical-align: middle;
}

.wait{
    font-size: 300%;
    text-align: center;
    width: 20%;
    float: left;
}

.flash{
    visibility: hidden;
}



.chourouk,.joumouaa {
    font-size: 250%;
    padding-top: 5%;
}

.footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 20px;
    font-size: 150%
}