body {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}

.main, .iqama, .adhan{
    height:100vh;
}

.main .top-content{
    height:50%;
}

.main .prayer-content{
    height:45%;
}


.header{
    font-size: 400%;
    color: yellowgreen;
}

#time{
    font-size: 1200%;
}

#date, #hijriDate{
    font-size: 500%
}

.prayer-text>div{
    font-size: 600%;
    text-align: center;
    width: 20%;
    float: left;
}

.prayer-time {
    display: table;
    height: 150px;
    width: 100%;
    border-bottom: 1px #fff solid;
    border-top: 1px #fff solid;
}

.prayer{
    color: yellowgreen;
    font-size: 800%;
    text-align: center;
    width: 20%;
    display: table-cell;
    vertical-align: middle;
}

.prayer-hilighted{
    color: #f0ad4e;
}

.wait>div{
    font-size: 300%;
    text-align: center;
    width: 20%;
    float: left;
}

.flash{
    visibility: hidden;
}

.chourouk,.joumouaa, .aid {
    font-size: 500%;
    padding-top: 5%;
}

#aid{
    color: red;
}

#chourouk, #joumouaa{
    color: yellowgreen;
}

.iqama{
    background-color: gray;
}

.iqama .top, .iqama .bottom{
    font-size: 700%;
    height: 15%;
    color: #000;
}

.iqama .image{
    background-image: url(/img/phone.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    height: 70%;
}

.adhan {
    background-image: url(/img/douaa-after-athan.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.main .footer{
    font-size: 200%;
    float: left;
    width: 90%;

}

#version{
    float: right;
    font-size: 30px;
    /*margin: 0 10px;*/
    color: #adadad;
    text-align: right;
    padding-right: 20px;
}