body {
    background-color: #000;
    color: #fff;
    font-weight: bold;
}

.main{
    height:100vh;
}

.main .top-content{
    height:50%;
}

.main .prayer-content{
    height:45%;
}

.main .footer{
    font-size: 120%
}

.header{
    font-size: 400%;
    color: yellowgreen;
}

#time{
    font-size: 1200%;
}

#date{
    font-size: 500%
}

.prayer-text>div{
    font-size: 600%;
    text-align: center;
    width: 20%;
    float: left;
}

.prayer-time {
    display: table;
    height: 150px;
    width: 100%;
    border-bottom: 1px #fff solid;
    border-top: 1px #fff solid;
}

.prayer{
    color: yellowgreen;
    font-size: 800%;
    text-align: center;
    width: 20%;
    display: table-cell;
    vertical-align: middle;
    height: 200px;
}

.wait{
    font-size: 300%;
    text-align: center;
    width: 20%;
    float: left;
}

.flash{
    visibility: hidden;
}

.chourouk,.joumouaa {
    font-size: 400%;
    padding-top: 5%;
}
#chourouk, #joumouaa{
    color: yellowgreen;
}

.iqama{
    background-color: gray;
    height:100vh;
}

.iqama .top, .iqama .bottom{
    font-size: 700%;
    height: 15%;
    color: #000;
}

.iqama .image{
    background-image: url(/img/phone.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    height: 70%;
}
