@media (max-width:768px){

    body {
        background-color: #000;
        color: #fff;
        font-weight: bold;
        font-size: 12px;
    }

    .main{
        height:100vh;
    }

    .header{
        font-size: 200%;
        color: yellowgreen;
        padding: 10px 0;
    }
    .time{
        font-size: 400%;
    }

    .gregorianDate, .hijriDate{
        font-size: 150%
    }

    .top-content{
        height: 25%;

    }

    .prayer-content{
        height: 45%;
        margin-bottom: 20px;

    }

    .prayer-content>div {
        height: 60px;
        line-height: 30px;
    }

    .prayer-content .text {
        font-size: 150%;
        text-align: left;
    }

    .prayer-content .wait {
        text-align: right;
    }

    .prayer-content .prayer {
        font-size: 250%;
        color: yellowgreen;

    }

    .chourouk-joumouaa{
        height: 10%;
    }

    .chourouk, .joumouaa{
        font-size: 150%;

    }

    .chourouk-id, .joumouaa-id{
        color: yellowgreen;
        font-size: 150%;
    }

    .footer{
        padding: 0 10px;
    }

    .row{
        margin: 0;
        padding: 0 10px;
    }

    .flash{
        visibility: hidden;
    }

    .iqama{
        background-color: gray;
        height:100vh;
        padding: 20px;
    }
    .iqama .top, .iqama .bottom{
        font-size: 200%;
        height: 15%;
        color: #000;
    }

    .iqama .image{
        background-image: url(/img/phone.png);
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
        height: 70%;
    }

    .adhan {
        background-image: url(/img/douaa-after-athan-mobile.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 100vh;
        background-position: 50%;
    }


    .site{
        font-size: 100%;
    }
    .site>span{
        color: #1b6d85;
    }

    .assosciation{
        font-size: 100%;
    }

    .version{
        font-size: 10px;
        color: #adadad;
        text-align: right;
        padding: 3px;
    }

}